body{
    background-color: rgb(249, 242, 238);
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* NAV STYLING */
nav {
    height: auto;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-right: 5px;
    color: #363734;
    /* text-transform: uppercase; */
}

.logoimg {
    margin: 0;
    /* border: #363734 solid 5px; */
    padding: 0;
    max-width: 20%;
    height: auto;
    padding-left: 20px;
}

a:hover {
    opacity: 50%;
}

.UMSI_link:link, .Ross_link:link{
    text-decoration: none;
    color: #60663d;
}

.UMSI_link:visited, .Ross_link:visited {
    text-decoration: none;
    color: #60663d;
}

.UMSI_link:hover, .Ross_link:hover{
    text-decoration: none;
    opacity: 0.75;
    transform: scale(1.010);
}

.UMSI_link:active, .Ross_link:active{
    text-decoration: none;
    opacity: 0.75;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}

.about-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-left: 30px;
    padding-bottom: 30px;
    column-gap: 30px;
}

.about-grid img {
    max-width: 100%;
    height: auto;
    float: center;
    /* box-shadow: 2px 2px 5px #363734; */
}

.container p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.professional-intro {
    background-color: #e8e3d5;
    padding: 30px 30px 30px 30px;
}

.professional-intro h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.professional-intro p {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
}

.about-fun h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

.about-imgs img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.about-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 30px 0px 30px;
}

.about-imgs p {
    padding-left: 10px;
}

/* FOOTER STYLING */

footer {
    border: #363734 solid 1px;
    position:relative;
    bottom: 0;
    padding: 20px 0px 20px 0px;
    background-color: #363734;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

footer h1 {
    margin: 0;
    padding: 0px 50px 0px 50px;
    color: #dce1bd;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 12px;
    line-height: 5px;
    color: #F9F2EE;
}

.madefrom {
    font-size: 7px;
    line-height: 30px;
}

.letsconnect {
    line-height: 20px;
}

.footer_grid {
    display: grid;
    grid-column: span 2;
    grid-row: span 4;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 0px 50px 0px 50px;
    color: rgb(251, 247, 239);
}

.leftfooter a:link{
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:visited {
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:hover{
    text-decoration: none;
    opacity: 0.75;
}

.leftfooter a:active{
    text-decoration: none;
    opacity: 0.75;
}

.rightfooter {
    text-align: right;
}

@media screen and (min-width: 800px) {
    /* NAV STYLING */
    nav {
        height: auto;
        width: 100%;
        padding-left: 50px;
    }

    nav ul {
        float: right;
        margin-right: 100px;
    }

    nav ul li {
        display: inline-block;
        line-height: 120px;
        margin: 0 5px;
    }

    nav ul li a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 15px;
        /* text-transform: uppercase; */
    }

    .logoimg {
        max-width: 15%;
        height: auto;
    }

    h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        padding: 20px 0px 0px 0px;
        line-height: 30px;
    }
    
    .about-grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding-left: 50px;
        padding-bottom: 30px;
        column-gap: 20px;
    }
    
    .about-grid img {
        max-width: 100%;
        height: auto;
        float: center;
    }
    
    .container p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 20px;
    }
    
    .professional-intro {
        background-color: #e8e3d5;
        padding: 30px 50px 30px 50px;
    }
    
    .professional-intro h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
    
    .professional-intro p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        padding-right: 0px;
    }
    
    .about-fun h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        padding: 20px 100px 0px 100px;
    }
    
    .about-imgs img {
        max-width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 90px 0px 90px;
    }
    
    .about-imgs p {
        padding-left: 10px;
        font-size: 15px;
        padding-right: 0px;
    }
    
    /* FOOTER STYLING */

    footer {
        position: relative;
        bottom: 0;
        margin: 0;
        padding: 20px 0px 20px 0px;
        background-color: #363734;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    footer h1 {
        margin: 0;
        color: #dce1bd;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
        line-height: 35px;
    }

    footer p {
        font-size: 12px;
        line-height: 5px;
    }

    .madefrom {
        line-height: 10px;
        font-size: 10px;;
    }

    .letsconnect {
        line-height: 15px;
    }

    .footer_grid {
        display: grid;
        grid-column: span 2;
        column-gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: rgb(251, 247, 239);
        padding: 0px 50px 0px 50px;
    }

    .leftfooter a:link{
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:visited {
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:hover{
        text-decoration: none;
        opacity: 0.75;
    }

    .leftfooter a:active{
        text-decoration: none;
        opacity: 0.75;
    }

    .rightfooter {
        margin: 0;
        text-align: right;
    }
}

@media screen and (min-width: 1250px) {
    /* NAV STYLING */
    nav {
        padding-right: 50px;
    }

    .logoimg {
        margin: 0;
        /* border: #363734 solid 5px; */
        padding: 0;
        max-width: 10%;
        height: auto;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 5px;
        /* text-transform: uppercase; */
    }

    h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 60px;
        padding: 40px 0px 0px 0px;
        line-height: 20px;
    }
    
    .about-grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding-bottom: 30px;
    }
    
    .about-grid img {
        max-width: 70%;
        height: auto;
    }
    
    .container p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 200px;
    }
    
    .professional-intro {
        background-color: #e8e3d5;
        padding: 50px 150px 50px 150px;
    }
    
    .professional-intro h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 22px;
    }
    
    .professional-intro p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        padding-right: 0px;
    }
    
    .about-fun h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        padding: 20px 200px 0px 200px;
    }
    
    .about-imgs img {
        max-width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 150px 0px 150px;
    }
    
    .about-imgs p {
        padding-left: 50px;
        font-size: 15px;
        padding-right: 0px;
    }
    
    /* FOOTER STYLING */

    footer {
        border: #363734 solid 1px;
        position:relative;
        bottom: 0;
        padding: 50px 0px 20px 0px;
        background-color: #363734;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    footer h1 {
        margin: 0;
        padding: 0px 100px 0px 100px;
        color: #dce1bd;
        font-size: 70px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 20px;
    }

    footer p {
        font-size: 17px;
        line-height: 5px;
    }

    .madefrom {
        font-size: 15px;
        line-height: 40px;
        font-weight: 300;
    }

    .letsconnect {
        line-height: 25px;
    }

    .footer_grid {
        display: grid;
        grid-column: span 2;
        grid-row: span 4;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 0px 100px 0px 100px;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:link{
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:visited {
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:hover{
        text-decoration: none;
        opacity: 0.75;
    }

    .leftfooter a:active{
        text-decoration: none;
        opacity: 0.75;
    }

    .rightfooter {
        text-align: right;
    }
}