body{
    background-color: #FBF7EF;
}

/* FOOTER STYLING */

footer {
    border: #363734 solid 1px;
    position:relative;
    bottom: 0;
    padding: 20px 0px 20px 0px;
    background-color: #363734;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h1 {
    margin: 0;
    padding: 0px 100px 0px 100px;
    color: #dce1bd;
    font-size: 70px;
    font-weight: 500;
    font-style: italic;
}

footer p {
    font-size: 20px;
    line-height: 10px;
}

.madefrom {
    line-height: 40px;
}

.letsconnect {
    line-height: 25px;
}

.footer_grid {
    display: grid;
    grid-column: span 2;
    grid-row: span 4;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 0px 100px 0px 100px;
    color: rgb(251, 247, 239);
}

.leftfooter a:link{
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:visited {
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:hover{
    text-decoration: none;
    opacity: 0.75;
}

.leftfooter a:active{
    text-decoration: none;
    opacity: 0.75;
}

.rightfooter {
    text-align: right;
}

.room8-topimg {
    max-width: 100%;
    height: auto;
}

/* room8 intro section */
.room8-intro {
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto;
    align-content: center;
    padding: auto auto auto auto;
    column-gap: 20px;
}

.room8-leftside{
    padding-left: 40px;
    
}

.room8-rightside{
    padding-right: 40px;
}

h1 {
    margin-bottom: 0;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin-bottom: 0;
    line-height: 35px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* styling "You are currently on the website!" */
.undertitle {
    margin: 0;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
}

/* styling "Role, Duration, Tools, Challenge, Solution" */
p {
    margin: 0;
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    color: rgb(64, 64, 64);
}

/* italicizing only left hand side */
.roleinfo, .durationinfo, .projecttypeinfo, .toolsinfo {
    font-style: italic;
}

/* slides + info */
.room8-slides img{
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .room8-leftside{
        margin: 0;
        padding-left: 150px;
    }
    
    .room8-rightside{
        margin: 0;
        padding-right: 150px;
    }
    
    h1 {

        margin-bottom: 0;
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2 {
        margin-bottom: 0;
        line-height: 30px;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    /* styling "You are currently on the website!" */
    .undertitle {
        margin: 0;
        font-size: 25px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
    }
    
    /* styling "Role, Duration, Tools, Challenge, Solution" */
    p {
        margin: 0;
        font-size: 22px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
    }
    
    /* italicizing only left hand side */
    .roleinfo, .durationinfo, .toolsinfo {
        font-style: italic;
    }
    
    /* slides + info */
    .room8-slides img{
        max-width: 65%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1400px) {
    .room8-leftside{
        margin: 0;
        padding-left: 200px;
    }
    
    .room8-rightside{
        margin: 0;
        padding-right: 200px;
    }
    
    h1 {
        margin-bottom: 0;
        font-size: 45px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2 {
        margin-bottom: 0;
        line-height: 35px;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    /* styling "You are currently on the website!" */
    .undertitle {
        margin: 0;
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
    }
    
    /* styling "Role, Duration, Tools, Challenge, Solution" */
    p {
        margin: 0;
        font-size: 27px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
    }
    
    /* italicizing only left hand side */
    .roleinfo, .durationinfo, .toolsinfo {
        font-style: italic;
    }

}