body {
    color: #282421;
}

a:hover {
    opacity: 80%;
}

.UMSI_link:link, .Ross_link:link{
    text-decoration: none;
    color: #9ba37d;
}

.UMSI_link:visited, .Ross_link:visited {
    text-decoration: none;
    color: #9ba37d;
}

.UMSI_link:hover, .Ross_link:hover{
    text-decoration: none;
    opacity: 0.75;
    transform: scale(1.010);
}

.UMSI_link:active, .Ross_link:active{
    text-decoration: none;
    opacity: 0.75;
}

h1 {
    /* font-size: 20px; */
    text-align: left;
    margin: 20px 0;
}

p {
    font-size: 14px;
}

.team {
    margin: 0px -22px;
}

.about1 {
    padding: 50px 25px 75px 25px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}

.about2 {
    /* border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 20px 20px 0px 0px; */
    margin-top: -75px;
    background-color: #f1ecde;
    padding: 50px 25px 75px 25px;
}

.about3 {
    padding: 50px 25px 75px 25px;
    border-left: 0px;
    border-right: 0px;
    margin-top: -75px;
    margin-bottom: -200px;
    border-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    background-color: #faf8f7;
}

footer {
    margin: 0;
}

.about-img {
    width: 100%;
    padding: 25px;
    margin-top: -15px;
    background-color: #f1ecde;
}

@media screen and (min-width: 800px) {
    .about1 {
        padding-left: 75px;
        padding-right: 75px;
    }

    .addin {
        padding-left: 50px;
        padding-right: 50px;
    }

    p {
        font-size: 16px;
    }

    .about-img {
        padding: 25px 80px;
    }
    
}

@media screen and (min-width: 1250px) {
    .about1 {
        padding-left: 275px;
        padding-right: 275px;
    }

    .about2 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .addin {
        padding-left: 175px;
        padding-right: 175px;
    }

    p {
        font-size: 16px;
    }
    
    .about-img {
        padding: 25px 275px;
    }
}