.password div {
    padding: 25px;
}

.password-form {
    margin: 200px 0 150px 0;
}

.password h1 {
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--neutral-400);
}

.password span {
    color: var(--neutral-300);
}

.password {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform; 
}

.password.show {
    opacity: 1;
    transform: scale(1);
}

.password p {
    /* line-height: 1.5; */
    margin-top: 20px;
    text-align: center;
}

p a:link, p a:visited, p a:active {
    color: var(--neutral-400);
    opacity: 100%;
    text-decoration: none;
}

p img {
    margin-top: 10px;
}

a:hover {
    opacity: 50%;
}

input[type="text"] {
    /* background: none; */
    border: none;
    border-bottom: 1px solid #d3d9bf;
    color: var(--neutral-400);
    font-size: var(--text-14px-p);
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: var(--neutral-100);
}

input[type="text"]:focus {
    outline: none;
}


input::placeholder {
    font-weight: 300;
    font-size: var(--text-14px-p);
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-accent);
}

.password img {
    width: 25px;
    height: 25px;
    filter: grayscale(100%);
}

/* PASSWORD */
.incorrect-password {
    display: none;
    text-align: center;
    font-size: var(--text-14px-p);
    font-weight: 300;
    margin-top: 20px;
    background-color: var(--neutral-200);
}

.button-wrapper .browse-button {
  padding: 10px 20px;
}

.browse-button {
    display: flex;
    align-items: center;       /* vertical alignment */
    gap: 10px;                  /* spacing between text and icon */
    font-family: var(--font-style);
    font-size: var(--text-14px-p);
    background-color: var(--neutral-200);
    border: 1px var(--neutral-300) solid;
    border-radius: 40px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.browse-button span {
    font-family: var(--font-style);
    font-size: var(--text-14px-p);
    color: var(--text-accent2);
    background-color: var(--neutral-200);
}

.button-icon {
  width: 18px;
  height: 18px;
  display: block;
}






@media (min-width: 800px) {
    .password-form {
        margin: 300px 0;
    }

    .password h1 {
        margin: 0 100px;
    }

    .passform {
        width: 75%;
        margin: 0 auto;
    }

    .password-form p {
        margin: 20px 150px;
    }
}

@media (min-width: 1250px) {    
    .password h1 {
        margin: 0 325px;
    }

    .passform {
        width: 50%;
    }

    h5 {
        margin: 0 300px;
    }
}