body{
    background-color: #FBF7EF;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* NAV STYLING */
nav {
    height: auto;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-right: 5px;
    color: #363734;
    /* text-transform: uppercase; */
}

.logoimg {
    margin: 0;
    /* border: #363734 solid 5px; */
    padding: 0;
    padding-left: 20px;
    max-width: 20%;
    height: auto;
}

a:hover {
    opacity: 50%;
}

/* FOOTER STYLING */

footer {
    border: #363734 solid 1px;
    position:relative;
    bottom: 0;
    padding: 20px 0px 20px 0px;
    background-color: #363734;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

footer h1 {
    margin: 0;
    padding: 0px 50px 0px 50px;
    color: #dce1bd;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 12px;
    line-height: 15px;
    color: #F9F2EE;
}

.madefrom {
    font-size: 7px;
    line-height: 30px;
}

.letsconnect {
    line-height: 20px;
}

.footer_grid {
    display: grid;
    grid-column: span 2;
    grid-row: span 4;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 0px 50px 0px 50px;
    color: rgb(251, 247, 239);
}

.leftfooter a:link{
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:visited {
    text-decoration: none;
    color: rgb(251, 247, 239);
}

.leftfooter a:hover{
    text-decoration: none;
    opacity: 0.75;
}

.leftfooter a:active{
    text-decoration: none;
    opacity: 0.75;
}

.rightfooter {
    text-align: right;
}

.room8-topimg {
    max-width: 100%;
    height: auto;
}

/* room8 intro section */
.room8-intro {
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto;
    align-content: center;
    padding: auto auto auto auto;
    column-gap: 20px;
}

.room8-leftside{
    padding-left: 40px;
    
}

.room8-rightside{
    padding-right: 40px;
}

h1 {
    margin-bottom: 0;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin-bottom: 0;
    line-height: 35px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* styling "You are currently on the website!" */
.undertitle {
    margin: 0;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
}

/* styling "Role, Duration, Tools, Challenge, Solution" */
p {
    margin: 0;
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    color: rgb(64, 64, 64);
}

/* italicizing only left hand side */
.roleinfo, .durationinfo, .projecttypeinfo, .toolsinfo {
    font-style: italic;
}

/* slides + info */
.room8-slides img{
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    /* NAV STYLING */
    nav {
        height: auto;
        width: 100%;
        padding-left: 50px;
    }

    nav ul {
        float: right;
        margin-right: 20px;
    }

    nav ul li {
        display: inline-block;
        line-height: 120px;
        margin: 0 5px;
    }

    nav ul li a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 15px;
        /* text-transform: uppercase; */
    }

    .logoimg {
        max-width: 15%;
        height: auto;
    }

    .room8-leftside{
        margin: 0;
        padding-left: 150px;
    }
    
    .room8-rightside{
        margin: 0;
        padding-right: 150px;
    }
    
    h1 {

        margin-bottom: 0;
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2 {
        margin-bottom: 0;
        line-height: 30px;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    /* styling "You are currently on the website!" */
    .undertitle {
        margin: 0;
        font-size: 25px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
    }
    
    /* styling "Role, Duration, Tools, Challenge, Solution" */
    p {
        margin: 0;
        font-size: 22px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
    }
    
    /* italicizing only left hand side */
    .roleinfo, .durationinfo, .toolsinfo {
        font-style: italic;
    }
    
    /* slides + info */
    .room8-slides img{
        max-width: 65%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* FOOTER STYLING */

    footer {
        position: relative;
        bottom: 0;
        margin: 0;
        padding: 20px 0px 20px 0px;
        background-color: #363734;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    footer h1 {
        margin: 0;
        color: #dce1bd;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
        line-height: 35px;
    }

    footer p {
        font-size: 12px;
        line-height: 15px;
    }

    .madefrom {
        line-height: 10px;
        font-size: 10px;;
    }

    .letsconnect {
        line-height: 15px;
    }

    .footer_grid {
        display: grid;
        grid-column: span 2;
        column-gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:link {
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:visited {
        text-decoration: none;
        color: rgb(251, 247, 239);
    }
    
    .leftfooter a:hover {
        text-decoration: none;
        opacity: 0.75;
    }

    .leftfooter a:active {
        text-decoration: none;
        opacity: 0.75;
    }

    .rightfooter {
        margin: 0;
        text-align: right;
    }

}

@media screen and (min-width: 1250px) {
    nav {
        padding-right: 50px;
    }

    .logoimg {
        margin: 0;
        /* border: #363734 solid 5px; */
        padding: 0;
        padding-left: 10px;
        max-width: 13%;
        height: auto;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-right: 5px;
        /* text-transform: uppercase; */
    }

    .room8-leftside{
        margin: 0;
        padding-left: 200px;
    }
    
    .room8-rightside{
        margin: 0;
        padding-right: 200px;
    }
    
    h1 {
        margin-bottom: 0;
        font-size: 45px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2 {
        margin-bottom: 0;
        line-height: 35px;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    /* styling "You are currently on the website!" */
    .undertitle {
        margin: 0;
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-style: italic;
    }
    
    /* styling "Role, Duration, Tools, Challenge, Solution" */
    p {
        margin: 0;
        font-size: 27px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        color: rgb(64, 64, 64);
    }
    
    /* italicizing only left hand side */
    .roleinfo, .durationinfo, .toolsinfo {
        font-style: italic;
    }

    /* FOOTER STYLING */

    footer {
        border: #363734 solid 1px;
        position:relative;
        bottom: 0;
        padding: 50px 0px 20px 0px;
        background-color: #363734;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    footer h1 {
        margin: 0;
        padding: 0px 100px 0px 100px;
        color: #dce1bd;
        font-size: 70px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 20px;
    }

    footer p {
        font-size: 17px;
        line-height: 20px;
    }

    .madefrom {
        font-size: 15px;
        line-height: 40px;
        font-weight: 300;
    }

    .letsconnect {
        line-height: 25px;
    }

    .footer_grid {
        display: grid;
        grid-column: span 2;
        grid-row: span 4;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 0px 100px 0px 100px;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:link{
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:visited {
        text-decoration: none;
        color: rgb(251, 247, 239);
    }

    .leftfooter a:hover{
        text-decoration: none;
        opacity: 0.75;
    }

    .leftfooter a:active{
        text-decoration: none;
        opacity: 0.75;
    }

    .rightfooter {
        text-align: right;
    }

}